In [1]:
import pandas as pd
import matplotlib as plt
import numpy as mp

In [26]:
df = pd.read_csv("/home/ernestotb/Computacional/Actividad4/Datos/15Feb17.csv", names=["PRES","HGHT","TEMP", "DWPT", "RELH", "MIXR", "DRCT", "SKNT", "THTA", "THTE", "THTV"])

In [27]:
df.columns

Index(['PRES', 'HGHT', 'TEMP', 'DWPT', 'RELH', 'MIXR', 'DRCT', 'SKNT', 'THTA',
       'THTE', 'THTV'],
      dtype='object')

In [30]:
df.PRES.dtype

dtype('float64')

In [32]:
df.PRES= pd.to_numeric(df.PRES, errors='coerce')
df.HGHT= pd.to_numeric(df.HGHT, errors='coerce')
df.TEMP= pd.to_numeric(df.TEMP, errors='coerce')
df.DWPT= pd.to_numeric(df.DWPT, errors='coerce')
df.RELH= pd.to_numeric(df.RELH, errors='coerce')
df.MIXR= pd.to_numeric(df.MIXR, errors='coerce')
df.DRCT= pd.to_numeric(df.DRCT, errors='coerce')
df.SKNT= pd.to_numeric(df.SKNT, errors='coerce')
df.THTA= pd.to_numeric(df.THTA, errors='coerce')
df.THTE= pd.to_numeric(df.THTE, errors='coerce')
df.THTV= pd.to_numeric(df.THTV, errors='coerce')

In [33]:
df.HGHT.dtype

dtype('float64')

In [34]:
df.TEMP.dtype

dtype('float64')

In [35]:
df.DWPT.dtype

dtype('float64')

In [36]:
df.RELH.dtype

dtype('float64')

In [37]:
df.MIXR.dtype

dtype('float64')

In [39]:
df.DRCT.dtype

dtype('float64')

In [40]:
df.SKNT.dtype

dtype('float64')

In [41]:
df.THTA.dtype

dtype('float64')

In [42]:
df.THTE.dtype

dtype('float64')

In [43]:
df.THTV.dtype

dtype('float64')

In [44]:
matplotlib inline

In [45]:
df.head()

     PRES    HGHT  TEMP  DWPT  RELH  MIXR   DRCT  SKNT   THTA   THTE   THTV
0     NaN     NaN   NaN   NaN   NaN   NaN    NaN   NaN    NaN    NaN    NaN
1     NaN     NaN   NaN   NaN   NaN   NaN    NaN   NaN    NaN    NaN    NaN
2  1000.0   205.0   NaN   NaN   NaN   NaN    NaN   NaN    NaN    NaN    NaN
3   925.0   855.0   NaN   NaN   NaN   NaN    NaN   NaN    NaN    NaN    NaN
4   881.0  1252.0   3.2  -1.0  74.0  4.05  140.0   6.0  286.5  298.3  287.2

In [46]:
df_cl=df.dropna()

In [51]:
df_cl.head(5)

    PRES    HGHT  TEMP  DWPT  RELH  MIXR   DRCT  SKNT   THTA   THTE   THTV
4  881.0  1252.0   3.2  -1.0  74.0  4.05  140.0   6.0  286.5  298.3  287.2
5  876.0  1299.0   4.8  -2.2  60.0  3.73  130.0   6.0  288.7  299.6  289.3
6  867.0  1385.0   5.4  -2.6  56.0  3.66  113.0   7.0  290.1  301.0  290.8
7  850.0  1550.0   4.0  -4.0  56.0  3.36   80.0   8.0  290.3  300.3  290.9
8  827.0  1772.0   2.2  -4.8  60.0  3.25   72.0  13.0  290.7  300.4  291.3

In [ ]:
plt